.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  color: var(--color-text);
}

.scrollable-cardlist {
  height: 100%;
  overflow-y: hidden;
  padding: 20px;
  scrollbar-width: none;
}

.scrollable-cardlist::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
