.search-box {
  -webkit-appearance: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 9rem 0 0 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 98%;
  line-height: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
