.search-box {
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.5rem;
  width: 85vw;
  line-height: 30px;
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
