.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-tertiary);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.2s ease-out;
  height: 400px;
}

.card-container > img {
  width: 180px;
  height: auto;
  flex-shrink: 0;
}

.card-container > .card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1; /* Allow the details section to grow */
  text-align: center;
}

.card-container > .card-details > .name {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px 0;
}

.card-container > .card-details > .email {
  font-size: 1rem;
  color: var(--color-text);
}

.card-container:hover {
  outline: 2px solid gold;
}

.card-container.selected {
  opacity: 0.5;
}

.card-container-preview > img {
  width: 90px;
  height: auto;
}
