.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.2s ease-out;
}

.card-container > img {
  width: 180px;
}

.card-container:hover {
  outline: 2px solid gold;
  /* transform: scale(1.01); */
}

.card-container.selected {
  opacity: 0.5;
}

.card-container-preview > img {
  width: 90px;
  height: auto;
}
