:root {
  --color-primary: rgba(7, 27, 82, 1);
  --color-secondary: rgba(0, 128, 128, 1);
  --color-tertiary: rgb(100, 80, 119);
  --color-background: linear-gradient(
    to left,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --color-text: #f9f9f9;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 0 0 0;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(240, 169, 104) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.top-frame {
  height: 15vh;
  position: relative;
  z-index: 1000;
}

.bottom-frame {
  max-height: 75vh;
  overflow-y: auto;
  flex-grow: 1;
  overflow-y: auto;
}

.scrollable-content {
  height: 100%;
  overflow-y: scroll; /* Enable vertical scrolling */
  padding: 0 0 20px 0;
  scrollbar-width: none; /* For Firefox */
}

.scrollable-content::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.preview-placeholder {
  display: flex;
  justify-content: center;
  color: var(--color-text);
  margin: 0 0 4rem 0;
  font-size: 4rem;
}
