* {
  box-sizing: border-box;
}

html,
body {
  margin: 40px 0 0 0;
  padding: 1rem;
  width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
}

.app-title {
  margin: 75px;
  font-size: 76px;
  color: #0ccac4;
  font-family: "Rubik Gemstones", cursive;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other elements */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container-preview {
  position: sticky;
  top: 0;
  left: 0;
  display: inline;
  font-size: 2rem;
  width: 90px;
  height: auto;
}
